# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
build/
*.ipa
*.dSYM
*.dSYM.zip
*.dSYM.tar

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets / env files
.env
